# -*- mode: makefile-gmake -*-
#	2011-11-04 Duzy Chan <code@duzy.info>
#

####
test.case.smart-config-loaded := 1
####

$(call test-check-flavor,sm-this-dir,recursive)

test.temp.sm-this-dir := $(sm-this-dir)

$(call test-check-defined,     test.temp.sm-this-dir)
$(call test-check-value-pat-of,test.temp.sm-this-dir,%/test)
$(call test-check-value-pat,$(wildcard $(test.temp.sm-this-dir)/smart.config),%/test/smart.config)

define test-module-build-hook
$(shell mkdir -p out && echo $(sm.this.makefile) >> out/modules.order)
endef #test-module-build-hook

$(call test-check-flavor,sm-add-module-build-hook,recursive)
$(call sm-add-module-build-hook,test-module-build-hook)
$(call test-check-value,$(filter test-module-build-hook,$(sm.global.hooks.build)),test-module-build-hook)
