#
#	2011-11-04 Duzy Chan <code@duzy.info>
#

####
test.case.smart-config-loaded := 1
####

$(call test-check-flavor,sm-this-dir,recursive)

test.temp.sm-this-dir := $(sm-this-dir)

$(call test-check-defined,     test.temp.sm-this-dir)
$(call test-check-value-pat-of,test.temp.sm-this-dir,%/test)
$(call test-check-value-pat,$(wildcard $(test.temp.sm-this-dir)/smart.config),%/test/smart.config)
